nextflowVersion = ">=21.04.3"

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

params {
    // Module definitions
    mod_guppy = "guppy/5.0.14"
    mod_nanopack = "nanopack/1.0.0-foss-2019a-Python-3.8.1"
    mod_minimap2 = "minimap2/2.22-foss-2019a"
    mod_samtools = "SAMtools/1.13-foss-2019a"
    mod_subread = "Subread/2.0.3-foss-2019a"

    // System parameters
    threads = 32
    gpu_device = "auto"
    num_barcoding_buffers = 85

    // Default paths
    samples = "/project/ACC/runs.txt"
    fast5_root = "/nfs/m/NGS-G102/fast5"
    genome = "/project/resources/hs37d5_PhiX/fasta/hs37d5_PhiX.fa"
    annotation = "/project/resources/hs37d5_PhiX/gtf/gencode.v19.annotation_plain.gtf"

    // Optimized parameters for minimap2 alignment
    k = 28
    w = 30
    I = "100G"
    K = "1G"

    // Parameters for featureCounts
    extra_attributes = "gene_name,gene_type"
    Q = 20

    // Parameters for NanoPlot
    maxlength = 10000
}